{{ template "header" . }}

<h2><b>Admin Page</b></h2>

<div>
    <a class="btn btn-danger mt-2 mb-2" hx-get="/api/logout">Logout</a>
</div>

<div class="mt-3">
    <h3><i class="bi bi-megaphone-fill"></i> Announce</h3>
    <div id="announce-alert"></div>
    <form hx-post="/api/announce" hx-target="#announce-alert" hx-swap="innerHTML" hx-ext="json-enc"
        style="max-width: 500px;">
        <textarea name="content" type="text" placeholder="Content" class="form-control mb-2"
            style="min-height: 200px;"></textarea>
        <button type="submit" class="btn btn-primary">Add announce</button>
    </form><br>
    <button class="btn btn-primary mb-3" hx-delete="/api/announce" hx-target="#announce-alert">Delete
        announce</button>
</div>

<div class="mt-3">
    <h3><i class="bi bi-newspaper"></i> Create Post</h3>
    <div id="create-post-alert"></div>
    <form hx-post="/api/posts" hx-target="#create-post-alert" hx-swap="innerHTML" hx-ext="json-enc"
        style="max-width: 500px;">
        <input name="title" type="text" placeholder="Title" class="form-control mb-2" />
        <textarea name="content" type="text" placeholder="Content" class="form-control mb-2"
            style="min-height: 200px;"></textarea>
        <input name="tweet" type="checkbox" /><label class="m-2 ">Display post content on home page </label><br>
        <button type="submit" class="btn btn-primary mb-3">Create</button>
    </form><br>
</div>

<div class="mt-3">
    <h3><i class="bi bi-pin-angle-fill"></i> Pin Post</h3>
    <div id="pin-post-alert"></div>
    <form hx-patch="/api/post-pin" hx-ext="json-enc" hx-target="#pin-post-alert" hx-swap="innerHTML"
        style="max-width: 500px;">
        <input name="id" type="text" placeholder="Post id" class="form-control mb-2" />
        <button type="submit" class="btn btn-primary mb-3">Pin</button>
    </form><br>
</div>

<div class="mt-3">
    <h3><i class="bi bi-newspaper"></i> Delete Post</h3>
    <div id="delete-post-alert"></div>
    <form hx-delete="/api/posts" hx-ext="json-enc" hx-target="#delete-post-alert" hx-swap="innerHTML"
        style="max-width: 500px;">
        <input name="id" type="text" placeholder="Post id" class="form-control mb-2" />
        <button type="submit" class="btn btn-primary mb-3">Delete</button>
    </form><br>
</div>

<div class="mt-2">
    <h3><i class="bi bi-link"></i> Create Link</h3>
    <div id="link-create-alert"></div>
    <form hx-post="/api/links" hx-target="#link-create-alert" hx-swap="innerHTML" hx-ext="json-enc"
        style="max-width: 500px;">
        <input name="name" type="text" placeholder="Name" class="form-control mb-2" />
        <input name="url" type="text" placeholder="URL" class="form-control mb-2" />
        <input name="icon" type="text" placeholder="icon name (icons fetch from bootstrap icon service)"
            class="form-control mb-2" />
        <input name="place" type="number" placeholder="place" class="form-control mb-2" />
        <button type="submit" class="btn btn-primary mb-3">Create</button>
    </form><br>
</div>

<div class="mt-2" hx-get="/api/links-admin" hx-swap="outerHTML" hx-trigger="load"></div>
{{ template "footer" . }}