{{template "header" .}}

<div id="profile" hx-get="/api/profile" hx-swap="outerHTML" hx-trigger="load"></div>
<!-- <button hx-get="/api/posts" hx-trigger="click" hx-target="#list" hx-indicator="#spinner" class="btn btn-primary mb-3">Get Posts</button><br> -->
<div id="announce" hx-get="/api/announce" hx-swap="outerHTML" hx-trigger="load"></div>

<div id="links" hx-get="/api/links" hx-trigger="load" hx-indicator="#links-spinner" hx-swap="outerHTML"></div>
<center>
    <div class="spinner-border htmx-indicator" id="links-spinner" role="status"></div>
</center>

{{template "footer" .}}