{{block "comments" .}}
{{range .Content}}
<div class="card mt-2 mb-2 p-2" style="border-radius: 0px;">
    <div class="card-body">
        <p><b>{{.Name}}</b></p>
        <p>{{.Content}}</p>


        <div class="mb-1 mt-4">
            <span id="comment-created-{{.Id}}" class="badge bg-warning mx-1">Created: {{.Created}}</span>
            <span class="badge bg-warning mx-1">{{.Id}}</span>
        </div>
        <script>
            document.getElementById("comment-created-{{.Id}}").innerHTML = toDateString_("{{.Created}}");
        </script>
    </div>
</div>
{{end}}

{{if .HasNext}}
<div hx-trigger="revealed" hx-get="/api/comments/?postId={{.PostId}}&page={{.NextPage}}" hx-swap="afterend"
    hx-indicator="#spinner"></div>
{{end}}
{{end}}


{{block "comment" .}}
<div class="card mt-2 mb-2 p-2 text-bg-light" style="border-radius: 0px;">
    <div class="card-body">
        <p><b>{{.Name}} | {{.Email}}</b></p>
        <p>{{.Content}}</p>
        <div class="my-2">
            <span id="created" class="badge bg-warning me-1">Created: {{.Created}}</span><span
                class="badge bg-warning  text-dark mx-1">{{.Id}}</span>
        </div>
    </div>
</div>
{{end}}