{{block "postsPage" .}}
{{ range .Content }}
<div class="card mt-4 mb-4 p-3" id="post-{{.Id}}">
    <h3><a href="/posts/{{.Id}}" style="font-weight: 500;" class="text-decoration-none">{{if .Pinned}}<i
                class="bi bi-pin-angle-fill pin" style="font-size: large; vertical-align: middle;"></i>{{end}}
            {{.Title}}</a></h3>
    {{if .Tweet}}
    <span id="post-content-{{.Id}}"></span>
    <script>
        document.getElementById("post-content-{{.Id}}").innerHTML = renderMarkdown("{{.Content}}")
    </script>
    {{end}}
    <div class="my-2">
        <span id="created-{{.Id}}" class="badge me-2">Created: {{.Created}}</span>
        <a href="/posts/{{.Id}}"><span class="badge me-2">Comments:
                {{.Comments}}</span></a>
    </div>
    <script>
        document.getElementById("created-{{.Id}}").innerHTML = "Posted " + toDateString_("{{.Created}}")
    </script>
</div>
{{ end }}
{{if .HasNext}}
<div hx-trigger="revealed" hx-get="/api/posts?page={{.NextPage}}" hx-swap="afterend" hx-indicator="#spinner"></div>
{{end}}
{{end}}


{{block "noPosts" .}}
<div class="bg-1 card mt-2 mb-2 p-2" style="text-align: center; border-radius: 0px;">No
    posts
    found :(</div>
{{end}}


{{block "post" .}}
<div class="card mt-2 mb-2 p-3" id="post-{{.Id}}" style="font-weight: 500; border-radius: 0px">
    <h3 style="text-decoration: none;" class="primary mb-3">{{.Title}}</h3>
    <span id="post-content"></span>
    <div class="my-2">
        <span id="created" class="badge me-2">Created: {{.Created}}</span>
        <span class="badge me-2">Comments: {{.Comments}}</span>
    </div>
    <script>
        document.getElementById("post-content").innerHTML = renderMarkdown("{{.Content}}")
        document.getElementById("created").innerHTML = "Posted " + toDateString_("{{.Created}}")
    </script>
</div>
<script>
    document.title += " - {{.Title}}"
</script>
{{end}}