{{block "profile" .}}
<center>
    <div class="card mb-3" style="background-color: rgba(255, 255, 255, 0);">
        <div class="card-body">
            <img src="{{.Icon}}" class="mb-3" style="max-width: 110px; max-height: 110px; border-radius: 50%;"
                alt="icon" />
            <div class="ml-3">
                <b class="mb-3" style="font-size:x-large; color: #cba6f7;">{{.Name}}</b>
                <p class="card-text mt-2 text-center" style="max-width: 26rem">{{.Bio}}</p>
            </div>
        </div>
    </div>
</center>
{{end}}