:root {
    --bg: #eff1f5;
    --bg1: #dce0e8;
    --bg2: #ccd0da;
    --bg3: #e6e9ef;
    --announce: #e6e9ef;
    --text: #4c4f69;
    --text-alt: #e6e9ef;
    --primary: #7287fd;
    --warn: #ea9d34;
    --danger: #d20f39;
    --success: #40a02b;
    --badge: #ea9d34;
    --badge-text: #191724;
}