/* Custom dark theme (Based on Catppuccin Mocha+Latte and Rose Pine) */
:root {
    --bg0: #11111b;
    --bg1: #181825;
    --bg2: #1e1e2e;
    --bg3: #1b1b29;

    --text: #cdd6f4;
    --text-alt: #1e1e2e;
    --primary: #ffffff;
    --warning: #ea9d34;
    --danger: #d20f39;
    --success: #40a02b;

    --badge-fg: #191724;
    --badge-bg: #ea9d34;

    --announce-bg: #191724;
    --announce-fg: #cdd6f4;

    --links-bg: #1b1b29;
    --links-fg: #cdd6f4;

    --card-bg: #1b1b29;
    --card-fg: #cdd6f4;

    --input-bg: #181825;
    --input-fg: #cdd6f4;

    --code-bg: #11111b;
    --code-fg: #cdd6f4;
}

/* Catppuccin Latte */
/* :root {
    --bg0: #dce0e8;
    --bg1: #e6e9ef;
    --bg2: #ccd0da;
    --bg3: #bcc0cc;

    --text: #4c4f69;
    --text-alt: #eff1f5;
    --primary: #11111b;
    --warning: #fe640b;
    --danger: #e64553;
    --success: #4a02b;

    --badge-fg: #191724;
    --badge-bg: #ea9d34;

    --announce-bg: #ebf0f8;
    --announce-fg: #4c4f69;

    --links-bg: #eff1f5;
    --links-fg: #4c4f69;

    --card-bg: #eff1f5;
    --card-fg: #4c4f69;

    --input-bg: #e6e9ef;
    --input-fg: #4c4f69;

    --code-bg: #dce0e8;
    --code-fg: #4c4f69;
} */