@import "./colorscheme.css";


html {
    background-color: var(--bg0) !important;
}

body {
    background-color: var(--bg0) !important;
    color: var(--text) !important;
}

a {
    color: var(--primary) !important;
}

h1, h2 {
    color: var(--primary);
}

pre {
    background-color: var(--code-bg) !important;
    color: var(--code-fg) !important;
}

::-webkit-scrollbar-track {
    background: var(--bg0);
}

::-webkit-scrollbar-thumb {
    background: var(--bg2);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bg1);
}

.pin {
    color: var(--pin-fg) !important;
}

.announce {
    background-color: var(--announce-bg) !important;
    color: var(--announce-fg) !important;
}

.badge {
    color: var(--badge-fg) !important;
    background-color: var(--badge-bg) !important;
}

.card {
    background-color: var(--card-bg) !important;
    color: var(--card-fg) !important;
}

.link {
    background-color: var(--links-bg) !important;
    color: var(--links-fg) !important;
    border-color: var(--primary) !important;
}

.text {
    color: var(--text) !important;
}

.text-alt {
    color: var(--text-alt) !important;
}

.primary {
    color: var(--primary) !important;
}

.danger {
    color: var(--danger) !important;
}

.warning {
    color: var(--warning) !important;
}

.success {
    color: var(--success) !important;
}

.bg-primary {
    color: var(--text-alt) !important;
    background-color: var(--primary) !important;
}

.bg-danger {
    color: var(--text-alt) !important;
    background-color: var(--danger) !important;
}

.bg-warning {
    color: var(--text-alt) !important;
    background-color: var(--warning) !important;
}

.bg-success {
    color: var(--text-alt) !important;
    background-color: var(--success) !important;
}

.bg-0 {
    background-color: var(--bg0) !important;
}

.bg-1 {
    background-color: var(--bg1) !important;
}

.bg-2 {
    background-color: var(--bg2) !important;
}

.bg-3 {
    background-color: var(--bg3) !important;
}

.container {
    background-color: var(--bg0) !important;
}

.navbar {
    background-color: var(--bg0) !important;
}

.announce {
    background-color: var(--announce-bg) !important;
    color: var(--announce-fg) !important;
}

.text-dark {
    color: var(--text-alt) !important;
}

.text-warning {
    color: var(--warning) !important;
}

.btn-danger {
    color: var(--text-alt) !important;
    background-color: var(--danger) !important;
    border-color: var(--danger) !important;
}

.btn-primary {
    border-color: var(--primary) !important;
    color: var(--text-alt) !important;
    background-color: var(--primary) !important;
}

.btn-primary:hover {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.form-control {
    background-color: var(--input-bg) !important;
    border-color: var(--primary) !important;
    color: var(--input-fg) !important;
}

.form-control::placeholder {
    color: var(--input-fg) !important;
}

.form-control:focus {
    border-color: var(--primary) !important;
}

.alert-primary {
    border-color: var(--primary) !important;
    color: var(--text) !important;
    background-color: var(--primary) !important;
}