.card {
    border-width: 0px;
    border-radius: 15px;
    word-break:break-all;
}

* {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: black;
}

.form-control {
    width: 100%;
}

.container {
    max-width: 800px;
    background-color: white;
}

.btn-warning {
    border-width: 0px;
    font-weight: bold;
    background-color: #F06D37;
}

.btn-warning:hover {
    background-color: #bd572b;
}

.btn-warning:active, .btn-warning:focus {
    background-color: #d05d2c;
}

nav {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(58, 58, 58);
}