{{block "postsPage" .}}
    {{ range .Content.Content }}
    <div class="card mt-2 mb-2 p-2 text-bg-light" id="post-{{.Id}}">
        <h2><a href="/posts/{{.Id}}">{{.Title}}</a></h2>
        <small id="post-date-{{.Id}}">{{.Created}}</small>
    </div>
    {{ end }}
    {{if .Content.HasNext}}
    <div hx-trigger="revealed" hx-get="/hateoas/posts?page={{.Content.NextPage}}" hx-swap="afterend" hx-indicator="#spinner"></div>
    {{end}}
{{end}}

{{block "noPosts" .}}
<div class="card mt-2 mb-2 p-2 text-bg-warning" style="text-align: center;">
    No posts found :(
</div>
{{end}}

{{block "alert" .}}
<div class="alert alert-primary" style="max-width:500px;width:100%;" id="info">{{ . }}</div>
{{end}}

{{block "post" .}} 
<div id="post-{{.Content.Id}}" class="card">
    <div class="card-body">
        <h3>Content</h3>
        <span>id: {{.Content.Id}}</span><br>
        <span>Title: {{.Content.Title}}</span><br>
        <span>Content: {{.Content.Content}}</span><br>
        <span>Created: {{.Content.Created}}</span><br>
    </div>
</div>
{{end}}


{{block "announce" .}}
{{if .}}
<br>
<div class="card bg-warning text-dark mb-2 announce">
    <div class="card-body">
        <b class="mb-2 mt-1">Announcement</b>
        <p class="card-text mt-2">{{.Content}}</p>
        <small class="card-text">{{.Date}}</small>
    </div>
</div>
{{end}}
{{end}}

<!-- Links -->
{{block "links" .}}
<div id="links">
    <h2><i class="bi bi-link"></i> Links</h2><hr>
    <div style="text-align: center;">
    {{range .}}
    <div class="card text-bg-light mb-3">
        <a href="/portal/?url={{.URL}}" target="_blank" class="link link-dark text-decoration-none">
        <div class="card-body"><b>
            <p class="card-text fs-5">{{.Name}}</p></b>
        </div>
        </a>
    </div>
    {{end}}
    </div>

</div>
<br>
{{end}}
