{{define "header"}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="htmx-config" content='{"scrollBehavior":"smooth"}'>
    <link rel="shortcut icon" href="/assets/images/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/set_color.css">
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/marked.min.js"></script>
    <script src="/assets/js/purify.min.js"></script>
    <script src="/assets/js/htmx.min.js"></script>
    <script src="/assets/js/moment.min.js"></script>
    <script src="/assets/js/json-enc.js"></script>
    <script src="/assets/js/script.js"></script>
    <title>{{ .Title }}</title>
</head>

<body>
    <div class="container d-flex flex-column" style="min-height: 99vh;">
        <div class="header navbar mb-2 mt-3 mx-0">
            <div class="float-start">
                <a href="/" class="text-decoration-none me-1">
                    {{if .Logo}}<img style="max-width: 40px; border-radius: 50%;" class="float-start me-2" alt="logo"
                        src="{{.Logo}}" />{{end}}
                    <span class="primary" style="font-size: x-large; font-weight: 550;">{{ .Title }}</span>
                </a>
            </div>
            <div class="float-end">
                <a class="my-1 text-decoration-none" style="font-size: large; margin-right: 10px; font-weight: 550;"
                    href="/">Home</a>
                <a class="my-1 text-decoration-none" style="font-size: large; margin-right: 10px; font-weight: 550;"
                    href="/blog">Blog</a>
                <a class="warn my-1 text-decoration-none" style="font-size: large;" href="/feed">
                    <i class="bi bi-rss-fill warning"></i>
                </a>
            </div>
        </div>
        {{end}}